{% extends 'myapp/base.html' %}

{% load static %}

{% block title %}
Tercera entrega | Nuestro Equipo
{% endblock %}

{% block content %}
    <h1>Nuestro Equipo</h1>
    <p>Te presentamos nuestro equipo de trabajo</p>

    <h2>Buscar colaborador por nombre o email</h2>
    <!-- Formulario de búsqueda -->
    <div class="d-flex flex-column align-items-center mb-2">
      <form action="" method="GET">
        <input type="text" name="q" placeholder="Buscar..." >
        <button type="submit">Buscar</button>
      </form>
    </div>

    <div class="container">

        <table class="table">
            <thead>
              <tr class="table-danger">
                <th scope="col">Nombre</th>
                <th scope="col">apellido</th>
                <th scope="col">email</th>
              </tr>
            </thead>
            <tbody>
                {% for colaborador in colaboradores %}
              <tr class="table-success">
                <td>{{colaborador.nombre}}</td>
                <td>{{colaborador.apellido}}</td>
                <td>{{colaborador.email}}</td>

                {% endfor %}
              </tr>

            </tbody>
          </table>

    </div>
    

{% endblock  %}