{% extends 'myapp/base.html' %}

{% load static %}

{% block title %}
Tercera entrega | Componentes 🙌
{% endblock %}

{% block content %}
    <h1>Nuestros Productos</h1>
    <p>El stock más completo del mercado</p>

    <h2>Buscar Componente PC</h2>
    <!-- Formulario de búsqueda -->
    <div class="d-flex flex-column align-items-center mb-2">
      <form action="" method="GET">
        <input type="text" name="q" placeholder="Buscar..." >
        <button type="submit">Buscar</button>
      </form>
    </div>

    <div class="container">

        <table class="table">
            <thead>
              <tr class="table-danger">
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
              </tr>
            </thead>
            <tbody>
                {% for componente in componentes %}
              <tr class="table-success">
                <td>{{componente.nombre}}</td>
                <td>{{componente.cantidad}}</td>
                {% endfor %}
              </tr>

            </tbody>
          </table>

    </div>
    

{% endblock  %}