{% extends 'myapp/base.html' %}

{% load static %}

{% block title %}
PC-Store | Sedes
{% endblock %}

{% block content %}
    <h1>Nuestras Sedes</h1>
    <p>Te esperamos</p>

    <h2>Buscar por nombre o dirección</h2>
    <!-- Formulario de búsqueda -->
    <div class="d-flex flex-column align-items-center mb-2">
      <form action="" method="GET">
        <input type="text" name="q" placeholder="Buscar..." >
        <button type="submit">Buscar</button>
      </form>
    </div>

    <div class="container">

        <table class="table">
            <thead>
              <tr class="table-danger">
                <th scope="col">Sede Nombre</th>
                <th scope="col">Dirección</th>
                <th scope="col">Teléfono</th>
              </tr>
            </thead>
            <tbody>
                {% for sede in sedes %}
              <tr class="table-success">
                <td>{{sede.nombre}}</td>
                <td>{{sede.direccion}}</td>
                <td>{{sede.nro_tel}}</td>
                {% endfor %}
              </tr>
    
            </tbody>
          </table>

    </div>
    

{% endblock  %}